<title>Accepted Donations</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", Arial, Helvetica, sans-serif}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>

<body>
<!-- Navbar -->
<div class="topnav" id="myTopnav">
	<a href="/">HOME</a>
	<a href="donations" >VIEW/ACCEPT DONATIONS</a>
	<a href="acceptedDonations" class="active">ACCEPTED DONATIONS</a>

	<a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">LOGOUT</a>
	<a href="donationForm" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">DONATE</a>
  </div>
  
  <script>
  function myFunction() {
	var x = document.getElementById("myTopnav");
	if (x.className === "topnav") {
	  x.className += " responsive";
	} else {
	  x.className = "topnav";
	}
  }
  </script>

<h3><%= name %>, here are the list of donations which you have accepted earlier. You can reject the acceptance, if required.</h3>
<form action="/rejectDonations" method="post">
<div style="overflow-x:auto;">

	<table>
		<tr>
			<th>Select</th>
			<th>Doantion Item Image</th>
			<th>Donor Details</th>
			<th>Donation Detail</th> 
		</tr>
		<% donationsAccepted.forEach(element => { %>
		<tr id="<%= element.donationID%>" name="<%= element.donationID%>">
		<td>
			<input type="radio" value="<%= element.donationID%>" name="radioID" id="radioID" >
		</td>

		<td><img alt="Embedded image" src="data:image/*;base64,<%= element.image %>" width="100" height="100"></td>
		<td>
			Name: <%= element.name %><br>
			Email: <a href="mailto:<%=element.email%>"><%=element.email%></a></br> 
			Phone: <a href="https://wa.me/<%=element.phone%>"><%=element.phone%></a></br>
		</td>
		<td>
				Category: <%= element.donationType%> <br>
				Item Name: <%= element.item%> <br>
				<% if (element.donationDescription !== '') { %>
				Description: <%= element.donationDescription%> <br>
				<% } %>
				Landmark: <%= element.landMark%> <br>
				Pincode: <%= element.pinCode%> <br>
		</td>
	</tr>
	<%}); %>
	</table>
		<input type="submit" class="btn_RejectDonation" value="Reject Donation">
	</form>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
